<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Country</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
<div class="container">

<h1  class="my-4">New Country</h1>
<form th:action="@{/countries}" method="POST" th:object="${countries}">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required><br>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Country name already exists</div>
    <br/>

    <label for="side">Side:</label>
    <select id="side" name="side" th:field="*{side}">
        <option value="Союзники">Союзники</option>
        <option value="Страны нацистского блока">Страны нацистского блока</option>
        <option value="Нейтралитет">Нейтралитет</option>
    </select>
    <br/><br/>

    <button type="submit">Save</button>
    <a th:href="@{/countries}" class="btn btn-primary">Back to List</a>
</form>
</div>
</body>
</html>
