<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Warship</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
<h1>Add New Warship</h1>
<form th:action="@{/warships}" th:method="post" th:object="${warships}">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required><br>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Name Error</div>
    <br/>
    <label for="class_warships">Class:</label>
    <input type="text" id="class_warships" name="class_warships" th:field="*{class_warships}"  required><br>

    <label for="commissionDate">Commission Date:</label>
    <input type="date" id="commissionDate" name="commissionDate"><br>
    <div style="color:red" th:if="${#fields.hasErrors('commissionDate')}" th:errors="*{commissionDate}"> Commission Date Error</div>

    <label for="decommissionDate">Decommission Date:</label>
    <input type="date" id="decommissionDate" name="decommissionDate"><br>
    <div style="color:red" th:if="${#fields.hasErrors('decommissionDate')}" th:errors="*{decommissionDate}"> Decommission Date Error</div>

    <button type="submit">Save</button>
    <a href="/warships">Back to list</a>
</form>
</div>
</body>
</html>
