<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Warship Details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Warship Details</h1>
<p><strong>Name:</strong> <span th:text="${warships.name}"></span></p>
<p><strong>Class:</strong> <span th:text="${warships.class_warships}"></span></p>
<p><strong>Commission Date:</strong> <span th:text="${#temporals.format(warships.commissionDate, 'dd.MM.yyyy')}"></span></p>
<p><strong>Decommission Date:</strong> <span th:text="${#temporals.format(warships.decommissionDate, 'dd.MM.yyyy')}"></span></p>

<form th:action="@{/warships/{name}/edit(name=${warships.getName()})}"  th:method="GET"  style="display:inline">
    <input type="submit" value="Редактировать"/>
</form>

<form th:action="@{/warships/{name}(name=${warships.getName()})}"  th:method="DELETE"  style="display:inline">
    <button type="submit">Delete</button>
</form>

<a href="/warships" class="btn btn-secondary mt-3">Back to list</a>
</body>
</html>



